<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        
        <link rel="stylesheet" type="text/css" href="../../assets/css/style.css">

        <title>Send Verification</title>
    </head>
    <body>
        <form>
            <div id="email-send-email"></div>
            Password: <input type="password" id="email-send-password">
        </form>
        <button type="button" id="email-send-verify">Send Verification Email</button>
    </body>
    <script>
        var verify = require('../../src/popups/emailSend.js');
        verify.bind();
    </script>
</html>