<template class="task-template-doctor">
    <section id="section-graph-patient" class="section js-section">
        <header>
            <h1>Graph Patient</h1>
        </header>
        <div>
            <form id="graph-patient-form1">
                Doctor's Name: <select id="graph-patient-doctor-select" onchange="GatherPatientList()"></select>
                Patient ID: <select id="graph-patient-patient-id" onload="Test()"></select>
                <button id="graph-patient-display-chart">Graph</button>
            </form>
        </div>
        <div id="graph-patient-chart-area">
            
        </div>
        <script>
            var gp = require('./src/graphPatient');
            function GatherPatientList () { gp.GatherPatientList(); }
            function GraphPatientData () { gp.GraphPatientData(); }
            function Test () { console.log('test'); }
        </script>
    </section>
</template>