<template class="task-template">
    <section id="section-insert-doctor" class="section js-section">
        <header>
            <h1>Insert Doctor</h1>
        </header>
        <div>
            <form id="insert-doctor-form">
                Doctor's Name: <input type="text" name="doctor-name"><br>
            </form>
            <button id="insert-doctor">Insert</button>
        </div>
        <div id="insert-doctor-response">
            
        </div>
        <script>
            require('./src/insertDoctor');
        </script>
    </section>
</template>