<template class="task-template-doctor">
    <section id="section-insert-patient" class="section js-section">
        <header>
            <h1>Insert Patient</h1>
        </header>
        <div>
            <form id="insert-patient-form">
                Email: <input type="email" name="email"><br>
                Doctor: <select id="insert-patient-doctor-select"></select><br>
                Some Parameter: <input type="number" name="param"><br>
            </form>
            <button id="insert-patient">Send Activation Code</button>
        </div>
        <div id="insert-patient-response">
            
        </div>
        <script>
            require('./src/insertPatient');
        </script>
    </section>
</template>